body{
    background-color: rgba(235, 204, 163, 0.918);
}
.home{
    margin-top: 50px;
    text-align: center;
}
h1{
    font-size: 75px;
    text-align: center;
    color: rgb(68, 3, 3);
}



p{
    margin-top: 25px;
    margin-left: 90px;
    margin-right: 90px;
    text-align: left;
    font-size: 25px;
color: rgb(12, 1, 1);
}